body{
    font-family: 'Arial', sans-serif;
    background: #A8BDC3;
}


/*
.col-md-3{
    height: 170px;
    width: 170px;
    border-radius: 100%;
    margin-top: 110px;
    margin-left: 400px;

}
*/
.container{
    width: 400px;
    background: #ffffff;
    margin-top: 100px;
}
.panel{
    background: #3A3B3C;
    height: 150px;
    border-radius: 0;
}
.container img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -100px;
}

h1,
p,
a{
    color: rgba(0,0,0,0.6);
}

h1{
    margin: 0;
    font-weight: 900;
    font-size: 54px;
    margin-top: 150px;
    margin-bottom: 30px;
    color: rgba(0,0,0,0.8);
}
p{
    margin-bottom: 30px;
    font-weight: 900;
}

div.card-body{
    margin: 60px 0;
}
div.card-body a{
    margin: 0 0 0 20px;
}
div.card-body a:hover{
    color: rgba(0,0,0,1);
}
div.card-body a:first-child{
    cursor: text;
    text-decoration: none;
    margin-left: 0;
}
div.card-body a:first-child:hover{
    color: rgba(0,0,0,0.6);
}

/*
#jhon{
    background-color:#3a3b3c;
    height: 200px;
}
*/
/*
p{
    font-size: 18px;
    margin-top: 20px;
}
*/

/*
.back{
    margin-left: 50px;
    margin-top: 100px;
    color: black;
}
*/

